In [1]:
import tensorflow as tf

In [2]:
import pickle
from tensorflow.keras.models import load_model
import pandas as pd
import numpy as np

In [3]:
##Load trained model,scalar,pickle,onehot
models=load_model('models.h5')
with open('label_encoder_gender.pkl','rb') as file:
    label_encoder_gender=pickle.load(file)
with open('one_hot_encoder_geo.pkl','rb') as file:
    one_hot_encoder_geo=pickle.load(file)
with open('scalar.pkl','rb') as file:
    scalar=pickle.load(file)

WARNING:absl:Compiled the loaded model, but the compiled metrics have yet to be built. `model.compile_metrics` will be empty until you train or evaluate the model.

In [4]:
##input example
input_data={
    'CreditScore':600,
    'Geography':'Spain',
    'Gender':'Male',
    'Age':42,
    'Tenure':3,
    'Balance':60000,
    'NumOfProducts':2,
    'HasCrCard':1,
    'IsActiveMember':1,
    'EstimatedSalary':50000
}

In [5]:
geo_encoded=one_hot_encoder_geo.transform([[input_data['Geography']]]).toarray()
geo_encoded_df=pd.DataFrame(geo_encoded,columns=one_hot_encoder_geo.get_feature_names_out(['Geography']))

c:\Users\shard\OneDrive\Desktop\ANN_platform\venv\Lib\site-packages\sklearn\utils\validation.py:2691: UserWarning: X does not have valid feature names, but OneHotEncoder was fitted with feature names
  warnings.warn(

In [6]:
geo_encoded_df

   Geography_France  Geography_Germany  Geography_Spain
0               0.0                0.0              1.0

In [7]:
df_new_data=pd.DataFrame([input_data])
df_new_data

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary
0,600,Spain,Male,42,3,60000,2,1,1,50000

In [8]:
df_new_data['Gender']=label_encoder_gender.transform(df_new_data['Gender'])
df_new_data

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary
0,600,Spain,1,42,3,60000,2,1,1,50000

In [9]:
#concating
df_new_data=pd.concat([df_new_data.drop(columns='Geography',axis=1) ,geo_encoded_df],axis=1)

In [10]:
df_new_data

,CreditScore,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Geography_France,Geography_Germany,Geography_Spain
0,600,1,42,3,60000,2,1,1,50000,0.0,0.0,1.0

In [11]:
input_scaled=scalar.transform(df_new_data)

In [12]:
input_scaled

array([[-0.51459375,  0.91370804,  0.28880447, -0.69954603, -0.25994553,
         0.8058342 ,  0.65270587,  0.97189479, -0.86070717, -0.99975003,
        -0.57638802,  1.72859362]])

In [13]:
prediction=models.predict(input_scaled)

1/1 ━━━━━━━━━━━━━━━━━━━━ 0s 94ms/step

In [14]:
prediction

array([[0.08425922]], dtype=float32)

In [15]:
if(prediction>0.5):
    print("The customer is likely to churn")
else:
    print("The customer is not likely to churn")

The customer is not likely to churn