In [1]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler, LabelEncoder, OneHotEncoder
import pickle

In [2]:
data=pd.read_csv('Churn_Modelling.csv')
data.head()

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,Hargrave,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,2,15647311,Hill,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,3,15619304,Onio,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,4,15701354,Boni,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,5,15737888,Mitchell,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0

In [3]:
data=data.drop(['RowNumber','CustomerId','Surname'],axis=1)

In [4]:
data

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0
...,...,...,...,...,...,...,...,...,...,...,...
9995,771,France,Male,39,5,0.00,2,1,0,96270.64,0
9996,516,France,Male,35,10,57369.61,1,1,1,101699.77,0
9997,709,France,Female,36,7,0.00,1,0,1,42085.58,1
9998,772,Germany,Male,42,3,75075.31,2,1,0,92888.52,1
9999,792,France,Female,28,4,130142.79,1,1,0,38190.78,0

In [5]:
label_encoder_gender=LabelEncoder()
data['Gender']=label_encoder_gender.fit_transform(data['Gender'])

In [6]:
data

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,619,France,0,42,2,0.00,1,1,1,101348.88,1
1,608,Spain,0,41,1,83807.86,1,0,1,112542.58,0
2,502,France,0,42,8,159660.80,3,1,0,113931.57,1
3,699,France,0,39,1,0.00,2,0,0,93826.63,0
4,850,Spain,0,43,2,125510.82,1,1,1,79084.10,0
...,...,...,...,...,...,...,...,...,...,...,...
9995,771,France,1,39,5,0.00,2,1,0,96270.64,0
9996,516,France,1,35,10,57369.61,1,1,1,101699.77,0
9997,709,France,0,36,7,0.00,1,0,1,42085.58,1
9998,772,Germany,1,42,3,75075.31,2,1,0,92888.52,1
9999,792,France,0,28,4,130142.79,1,1,0,38190.78,0

In [7]:
onehot_geo=OneHotEncoder()
geo_one_hot=onehot_geo.fit_transform(data[['Geography']]).toarray()
geo_one_hot=pd.DataFrame(geo_one_hot,columns=onehot_geo.get_feature_names_out(['Geography']))

In [8]:
geo_one_hot

      Geography_France  Geography_Germany  Geography_Spain
0                  1.0                0.0              0.0
1                  0.0                0.0              1.0
2                  1.0                0.0              0.0
3                  1.0                0.0              0.0
4                  0.0                0.0              1.0
...                ...                ...              ...
9995               1.0                0.0              0.0
9996               1.0                0.0              0.0
9997               1.0                0.0              0.0
9998               0.0                1.0              0.0
9999               1.0                0.0              0.0

[10000 rows x 3 columns]

In [9]:
data=pd.concat([data.drop('Geography',axis=1),geo_one_hot],axis=1)

In [10]:
data.head()

,CreditScore,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited,Geography_France,Geography_Germany,Geography_Spain
0,619,0,42,2,0.00,1,1,1,101348.88,1,1.0,0.0,0.0
1,608,0,41,1,83807.86,1,0,1,112542.58,0,0.0,0.0,1.0
2,502,0,42,8,159660.80,3,1,0,113931.57,1,1.0,0.0,0.0
3,699,0,39,1,0.00,2,0,0,93826.63,0,1.0,0.0,0.0
4,850,0,43,2,125510.82,1,1,1,79084.10,0,0.0,0.0,1.0

In [11]:
X=data.drop('EstimatedSalary',axis=1)
y=data['EstimatedSalary']

In [12]:
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.3,random_state=42)
scaler=StandardScaler()
X_train_scaled=scaler.fit_transform(X_train)
X_test_scaled=scaler.transform(X_test)

In [13]:
with open('label_encoder_reg.pkl','wb') as file:
    pickle.dump(label_encoder_gender,file)
with open('onehot_encoder_reg.pkl','wb') as file:
    pickle.dump(onehot_geo,file)
with open('scaler_reg.pkl','wb') as file:
    pickle.dump(scaler,file)

In [14]:
## ANN regression model

In [16]:
import tensorflow as tf
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense

In [17]:
model=Sequential({
    Dense(64,activation='relu',input_shape=(X_train_scaled.shape[1],)),
    Dense(32,activation='relu'),
    Dense(16,activation='relu'),
    Dense(1)
})

c:\Users\shard\OneDrive\Desktop\ANN_platform\venv\Lib\site-packages\keras\src\layers\core\dense.py:106: UserWarning: Do not pass an `input_shape`/`input_dim` argument to a layer. When using Sequential models, prefer using an `Input(shape)` object as the first layer in the model instead.
  super().__init__(activity_regularizer=activity_regularizer, **kwargs)

In [19]:
#compile the model
model.compile(optimizer='adam',loss='mean_absolute_error',metrics=['mae'])

In [20]:
model.summary()

Model: "sequential"

┏━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━┳━━━━━━━━━━━━━━━━━━━━━━━━┳━━━━━━━━━━━━━━━┓
┃ Layer (type)                    ┃ Output Shape           ┃       Param # ┃
┡━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━╇━━━━━━━━━━━━━━━━━━━━━━━━╇━━━━━━━━━━━━━━━┩
│ dense (Dense)                   │ (None, 64)             │           832 │
├─────────────────────────────────┼────────────────────────┼───────────────┤
│ dense_3 (Dense)                 │ (None, 1)              │            65 │
├─────────────────────────────────┼────────────────────────┼───────────────┤
│ dense_1 (Dense)                 │ (None, 32)             │            64 │
├─────────────────────────────────┼────────────────────────┼───────────────┤
│ dense_2 (Dense)                 │ (None, 16)             │           528 │
└─────────────────────────────────┴────────────────────────┴───────────────┘

 Total params: 1,489 (5.82 KB)

 Trainable params: 1,489 (5.82 KB)

 Non-trainable params: 0 (0.00 B)

In [21]:
from tensorflow.keras.callbacks import EarlyStopping,TensorBoard
import datetime

log_dir='regressionlogs/fit/'+datetime.datetime.now().strftime('%Y%m%d-%H%M%S')
tensor_board_callback=TensorBoard(log_dir=log_dir,histogram_freq=1)
early_stopping=EarlyStopping(monitor='val_loss',patience=10,restore_best_weights=True)

In [22]:
history=model.fit(
    X_train_scaled,y_train, validation_data=(X_test_scaled,y_test),
    epochs=100,
    callbacks=[early_stopping,tensor_board_callback]
)

Epoch 1/100
219/219 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 100811.4375 - mae: 100811.4375 - val_loss: 98304.4453 - val_mae: 98304.4453
Epoch 2/100
219/219 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 100366.9219 - mae: 100366.9219 - val_loss: 97134.7109 - val_mae: 97134.7109
Epoch 3/100
219/219 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 97545.2812 - mae: 97545.2812 - val_loss: 92078.6797 - val_mae: 92078.6797
Epoch 4/100
219/219 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 89828.0312 - mae: 89828.0312 - val_loss: 81656.5547 - val_mae: 81656.5547
Epoch 5/100
219/219 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 77640.2891 - mae: 77640.2891 - val_loss: 69273.8438 - val_mae: 69273.8438
Epoch 6/100
219/219 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 66670.4375 - mae: 66670.4375 - val_loss: 61850.0195 - val_mae: 61850.0195
Epoch 7/100
219/219 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 61617.4766 - mae: 61617.4766 - val_loss: 59938.3672 - val_mae: 59938.3672
Epoch 8/100
219/219 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 60248.2344 - mae: 60248.2344 - val_loss: 59475.4766 - val_mae: 59475.4766
Epoch 9/100
219/219 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 59870.6523 - mae: 59870.6523 - val_loss: 59313.4141 - val_mae: 59313.4141
Epoch 10/100
219/219 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 59710.7070 - mae: 59710.7070 - val_loss: 59220.5703 - val_mae: 59220.5703
Epoch 11/100
219/219 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 59614.2539 - mae: 59614.2539 - val_loss: 59168.2227 - val_mae: 59168.2227
Epoch 12/100
219/219 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 59554.6953 - mae: 59554.6953 - val_loss: 59129.6836 - val_mae: 59129.6836
Epoch 13/100
219/219 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 59516.6250 - mae: 59516.6250 - val_loss: 59108.8750 - val_mae: 59108.8750
Epoch 14/100
219/219 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 59481.0312 - mae: 59481.0312 - val_loss: 59086.5820 - val_mae: 59086.5820
Epoch 15/100
219/219 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 59454.5156 - mae: 59454.5156 - val_loss: 59054.1758 - val_mae: 59054.1758
Epoch 16/100
219/219 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 59427.2930 - mae: 59427.2930 - val_loss: 59041.1133 - val_mae: 59041.1133
Epoch 17/100
219/219 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 59408.9844 - mae: 59408.9844 - val_loss: 59034.8281 - val_mae: 59034.8281
Epoch 18/100
219/219 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 59387.9453 - mae: 59387.9453 - val_loss: 59015.2148 - val_mae: 59015.2148
Epoch 19/100
219/219 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 59368.7578 - mae: 59368.7578 - val_loss: 59009.5469 - val_mae: 59009.5469
Epoch 20/100
219/219 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 59354.2930 - mae: 59354.2930 - val_loss: 59038.3633 - val_mae: 59038.3633
Epoch 21/100
219/219 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 59333.8828 - mae: 59333.8828 - val_loss: 58990.1797 - val_mae: 58990.1797
Epoch 22/100
219/219 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 59316.4766 - mae: 59316.4766 - val_loss: 58990.5430 - val_mae: 58990.5430
Epoch 23/100
219/219 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 59302.6484 - mae: 59302.6484 - val_loss: 58982.5273 - val_mae: 58982.5273
Epoch 24/100
219/219 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 59289.5000 - mae: 59289.5000 - val_loss: 58991.6602 - val_mae: 58991.6602
Epoch 25/100
219/219 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 59280.1992 - mae: 59280.1992 - val_loss: 58985.7500 - val_mae: 58985.7500
Epoch 26/100
219/219 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 59265.6445 - mae: 59265.6445 - val_loss: 58990.5000 - val_mae: 58990.5000
Epoch 27/100
219/219 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 59255.7344 - mae: 59255.7344 - val_loss: 59003.3477 - val_mae: 59003.3477
Epoch 28/100
219/219 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 59240.9453 - mae: 59240.9453 - val_loss: 59002.7617 - val_mae: 59002.7617
Epoch 29/100
219/219 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 59232.6797 - mae: 59232.6797 - val_loss: 58987.2305 - val_mae: 58987.2305
Epoch 30/100
219/219 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 59219.5508 - mae: 59219.5508 - val_loss: 58979.3594 - val_mae: 58979.3594
Epoch 31/100
219/219 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 59210.3594 - mae: 59210.3594 - val_loss: 59001.2422 - val_mae: 59001.2422
Epoch 32/100
219/219 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 59200.1797 - mae: 59200.1797 - val_loss: 58998.3398 - val_mae: 58998.3398
Epoch 33/100
219/219 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 59191.3320 - mae: 59191.3320 - val_loss: 58985.0781 - val_mae: 58985.0781
Epoch 34/100
219/219 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 59179.0078 - mae: 59179.0078 - val_loss: 58988.4961 - val_mae: 58988.4961
Epoch 35/100
219/219 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 59172.6406 - mae: 59172.6406 - val_loss: 58977.7695 - val_mae: 58977.7695
Epoch 36/100
219/219 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 59169.9375 - mae: 59169.9375 - val_loss: 58973.3281 - val_mae: 58973.3281
Epoch 37/100
219/219 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 59158.1992 - mae: 59158.1992 - val_loss: 58972.9297 - val_mae: 58972.9297
Epoch 38/100
219/219 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 59148.0352 - mae: 59148.0352 - val_loss: 58955.4570 - val_mae: 58955.4570
Epoch 39/100
219/219 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 59140.3711 - mae: 59140.3711 - val_loss: 58976.3320 - val_mae: 58976.3320
Epoch 40/100
219/219 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 59132.8086 - mae: 59132.8086 - val_loss: 58981.4727 - val_mae: 58981.4727
Epoch 41/100
219/219 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 59128.8242 - mae: 59128.8242 - val_loss: 58971.3672 - val_mae: 58971.3672
Epoch 42/100
219/219 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 59122.7188 - mae: 59122.7188 - val_loss: 58973.5078 - val_mae: 58973.5078
Epoch 43/100
219/219 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 59117.2773 - mae: 59117.2773 - val_loss: 58963.2305 - val_mae: 58963.2305
Epoch 44/100
219/219 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 59111.3398 - mae: 59111.3398 - val_loss: 58985.3906 - val_mae: 58985.3906
Epoch 45/100
219/219 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 59108.2969 - mae: 59108.2969 - val_loss: 58974.4570 - val_mae: 58974.4570
Epoch 46/100
219/219 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 59104.0859 - mae: 59104.0859 - val_loss: 58990.2148 - val_mae: 58990.2148
Epoch 47/100
219/219 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 59093.8555 - mae: 59093.8555 - val_loss: 58988.6445 - val_mae: 58988.6445
Epoch 48/100
219/219 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 59094.6289 - mae: 59094.6289 - val_loss: 58965.8711 - val_mae: 58965.8711

In [23]:
%load_ext tensorboard

In [24]:
%tensorboard --logdir regressionlogs/fit

ERROR: Failed to launch TensorBoard (exited with 1).
Contents of stderr:
Traceback (most recent call last):
  File "<frozen runpy>", line 198, in _run_module_as_main
  File "<frozen runpy>", line 88, in _run_code
  File "c:\Users\shard\OneDrive\Desktop\ANN_platform\venv\Scripts\tensorboard.exe\__main__.py", line 2, in <module>
    from tensorboard.main import run_main
  File "C:\Users\shard\OneDrive\Desktop\ANN_platform\venv\Lib\site-packages\tensorboard\main.py", line 27, in <module>
    from tensorboard import default
  File "C:\Users\shard\OneDrive\Desktop\ANN_platform\venv\Lib\site-packages\tensorboard\default.py", line 30, in <module>
    import pkg_resources
ModuleNotFoundError: No module named 'pkg_resources'

In [25]:
test_loss,test_mae=model.evaluate(X_test_scaled,y_test)
print(f'Test Loss: {test_loss}, Test MAE: {test_mae}')

94/94 ━━━━━━━━━━━━━━━━━━━━ 0s 866us/step - loss: 58955.4570 - mae: 58955.4570
Test Loss: 58955.45703125, Test MAE: 58955.45703125

In [26]:
model.save('regression_model.h5')

WARNING:absl:You are saving your model as an HDF5 file via `model.save()` or `keras.saving.save_model(model)`. This file format is considered legacy. We recommend using instead the native Keras format, e.g. `model.save('my_model.keras')` or `keras.saving.save_model(model, 'my_model.keras')`.